.record-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color: aqua;
    margin-top: 100px;
    margin-left: 100px;
}

.recordState{
    margin: 10px;
}