.apponiment {
    display: flex;
    flex-direction: row;
  width: 1158px;
  height: 304px;
  top: 935px;
  left: 382px;
  border-radius: 10px;
  margin: 40px  auto 0; 
  background-color: lightblue; 
  padding: 20px; 
}
.infoContainer{
display: flex;
flex-direction: column;
justify-content: flex-start;
text-align: start;
}

.textButton{
    width: 122px ;
    height: 24px;
    color:  #56CCF2;
    border: none;
}
ul {
    list-style-type: none; 
    padding: 0;
}

li:before {
    content: "•"; 
    color: orange; 
    display: inline-block;
    width: 1em; 
    margin-left: -1em; 
}
